<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Providers</title>
  		
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
  		<link rel="stylesheet" th:href="@{/css/font-awesome.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
						
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/modalDelete.js}"></script>
  		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		<nav id="hcssmenu">
    		<ul>
        		<li>
           			<a href="/comResources/cms/providers/edit">Add New</a>
        		</li>
        		<li>
           			<a href="/comResources/cms/providers/search">Search</a>
        		</li>
            	<li>
           			<a href="/comResources/cmsMenu">Back</a>
        		</li>
            </ul>
      	</nav>
    
    
   		<div class="container">
   		
      			<div class="row">
        			<div class="col-lg-12" th:if="${stringSearch==null}">
				          <p style="color:#880000;">Showing All Providers<span th:text="${stringSearch}"></span></p>
				   	</div>
				   	<div class="col-lg-12" th:unless="${stringSearch==null}">
				          <p style="color:#880000;">Results searching string: <span th:text="${stringSearch}"></span></p>
				   	</div>
      			</div>
     		
     			     		
  				<table class="table table-striped table-responsive-md">
  					<thead>
  						<tr>
  							<th style="color:#006400;">ID</th>
  							<th style="color:#006400;">Title</th>
  							<th style="color:#006400;">Address</th>
  							<th style="color:#006400;">Lat Lon</th>
  							<th style="color:#006400;">Active</th>
  							<!--  <th style="color:#006400;">Date Updated</th> -->
  							<th style="color:#006400;">Days last update</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr th:each="provider : ${providers}">
  							<td th:text="${provider.providerid}"></td>
  							<td th:text="${provider.providerName}"></td>
  							<td th:text="${provider.address}"></td>
  							<td th:text="${provider.latLon}" noWrap></td>
  							
  							<td th:if="${provider.active}=='Yes'" th:text="${provider.active}"></td>
							<td th:if="${provider.active}=='No'" th:text="${provider.active}" style="background-color: #ffcc99"></td>
  							
  							<!-- <td th:text="${provider.dateLastUpdate}" noWrap></td> -->
  							<td th:text="${provider.buffer1}" noWrap></td>
  							<td>
                            	<a th:href="@{/comResources/cms/providers/edit/{id}(id=${provider.providerid})}" class="btn btn-warning btn-sm" title="Edit this provider">
                                	<i class="fa fa-edit"></i>
                                </a>
                            </td>
                                                     
                            <td>
                                <a th:href="@{/comResources/cms/providers/delete/{id}(id=${provider.providerid})}" class="btn btn-danger btn-sm"  title="Delete this provider" onClick="return confirmDelete();">				                                    			
                            		<i class="fa fa-trash" style="font-size:12px"></i>
                            	</a>
                            </td>
  						</tr>	
  					</tbody>	
  				</table>
  		</div>
  		
 		
 		<footer class="customFooter">&copy;TRC Corp</footer> 
 		
	</body>
</html>			
