<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Add Notes</title>
  		
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
		
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		
				
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		<nav id="hcssmenu">
    		<ul>
        		<li><a th:href="@{/comResources/cms/providers/assignInfo/{id}(id=${providerId})}">Back</a></li>
        	</ul>
      	</nav>
   
  		

   		<div class="container">
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Assigned Resources - Add/Edit</p>
				          <p th:text="${providerName}" style="color:teal;font-size:14px;font-weight: bold;"></p>
        			</div>
      			</div>
      			
      			<div class="row">
      			
      				<div class="col">
      				     		
  						<form class="utilityForm" th:action="@{/comResources/cms/providers/updateAssign}" method="post">
                            
                            <div class="form-group">
      							<label for="assignedRes" th:text="${assignResource.resource}" style="color:#8A2BE2;"></label>
      						</div>	
                                        
                    		<div class="form-group">
      							<label for="notes">Notes :</label><br>
      							<textarea name="notes" th:text="${assignResource.notes}" rows="10" cols="80"></textarea>
							</div>	
                                        
	                		<div class="form-group">
                       			<input type="submit" class="btn btn-success btn-sm" value="Update">
                       	
                    		</div>
                    		<input type="hidden" name="providerName" th:value="${providerName}"/>
                    		<input type="hidden" name="providerId" th:value="${providerId}"/>
    						<input type="hidden" name="resourceid" th:value="${assignResource.recordid}"/>
	                
            			</form>
            		</div>
            		
            		
            			
            	</div>
  				
  		</div>
  		<footer class="customFooter">&copy;TRC Corp</footer> 
	</body>
</html>			
				
				
