<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="ISO-8859-1">
		<title>Community Resources</title>
		
		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		<nav id="hcssmenu">
    		<ul>
        		<li>
           			<a href="/comResources/cmsMenu">Back to Main Menu</a>
        		</li>
            	
            </ul>
      	</nav>

		<div class="container">
 
  			<section class="page-section" id="mainBody">
    			<div class="container">
      				<div class="row" >
        				<div class="col-lg-12 text-center">
				          	<p class="navbar-brand" style="color:#880000;font-size:15px;">File Upload</p>
				         	
        				</div>
      				</div>
     			     			
					<hr/>
				
					<div th:text="${message}"></div>
					
					
					<ul>
					
						<li>
							<label th:text="${fileName}"></label>
							
						</li>	
					
					</ul>
				
					<a href="/comResources/cms/aws/list" class="btn btn-primary btn-sm"  title="Back to main view">Back</a>
				
  					<hr/>
  				  				  						
  				</div>
  		
  			</section>
  		</div>
  		
  		<!-- Footer -->
  		
  		<footer class="customFooter">&copy;TRC Corp</footer> 
  		
	</body>
</html>			
				
				
