<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Counties</title>
  		
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
		<link rel="stylesheet" th:href="@{/css/agency.css}">
		
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/js/modalDelete.js}"></script>
  		
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		<nav id="hcssmenu">
    		<ul>
        		<li>
           			<a href="/comResources/cms/settings/edit">Add New</a>
        		</li>
            	<li>
           			<a href="/comResources/cmsMenu">Back</a>
        		</li>
            </ul>
      	</nav>
    

   		<div class="container">
      			<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">All Settings</p>
				          
        			</div>
      			</div>
     		
  				<table class="table table-striped table-responsive-md">
  					<thead>
  						<tr>
  							<th style="color:#006400;">ID</th>
  							<th style="color:#006400;">Description</th>
  							<th style="color:#006400;">Edit</th>
  							<th style="color:#006400;">Delete</th>
  						</tr>
  					</thead>
  					<tbody>
  						<tr th:each="setting : ${settings}">
  							<td th:text="${setting.settingid}"></td>
  							<td th:text="${setting.sname}"></td>
  							
  							<td>
                            	<a th:href="@{/comResources/cms/settings/edit/{id}(id=${setting.settingid})}" class="btn btn-primary btn-sm">
                                	<i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td th:if="${setting.strobe}==null">
                                <a th:href="@{/comResources/cms/settings/delete/{id}(id=${setting.settingid})}" class="btn btn-danger btn-sm" onClick="return confirmDelete();">				                                    			
                            		<i class="fas fa-trash" style="font-size:12px"></i>
                            	</a>
                            </td>
                            <td th:if="${setting.strobe}==1">
                                <a href="#" class="btn btn-danger btn-sm" onClick="return protectedItem();">				                                    			
                            		<i class="fas fa-trash" style="font-size:12px"></i>
                            	</a>
                            </td>
                                                       
  						</tr>	
  					</tbody>	
  				</table>
  		</div>
  		
 		
 		<footer class="customFooter">&copy;TRC Corp</footer> 
 		
	</body>
</html>			
