<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"> 

	<head>

  		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  		
  		<title>Settings</title>
  		
  		<link rel="stylesheet" th:href="@{/css/bootstrap-4.0.0.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}">
		<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
		
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
				
	</head>

	<body id="page-top">

  <!-- Navigation -->
  		<nav id="hcssmenu">
    		<ul>
        		<li>
           			<a href="/comResources/cms/settings/list">Back</a>
        		</li>
            	
            </ul>
      	</nav>
   
  		

   		<div class="container">
      		<div class="row">
        			<div class="col-lg-12 text-center">
				          <p class="navbar-brand" style="color:#880000;font-size:15px;">Add/Edit Settings</p>
				          
        			</div>
      			</div>
     		
  				<form class="utilityForm" th:action="@{/comResources/cms/settings/createSetting}" th:object="${setting}" method="post">
                        	
                	<div class="form-group">
                       	<label for="sname" class="col-form-label">Description<sup>*</sup>:</label> 
                       	<input type="text" th:field="*{sname}" id="sname" placeholder="Description" required  size="50" maxlength="50"/>
                    </div>
                    
                    <div class="form-group">
                       	<label for="path" class="col-form-label">Path/Value:</label> 
                       	<input type="text" th:field="*{path}" id="path" placeholder="Path/Value" size="70" maxlength="100"/>
                    </div>
                            	
                    <div class="form-group">
                       	<label for="param1" class="col-form-label">Parameter 1:</label> 
                       	<input type="text" th:field="*{param1}" id="param1" placeholder="Param 1" size="50" maxlength="150"/>
                    </div>
                            	
                    <div class="form-group">
                       	<label for="param2" class="col-form-label">Parameter 2:</label> 
                       	<input type="text" th:field="*{param2}" id="param2" placeholder="Param 2" size="50" maxlength="150"/>
                    </div>
                    
                    <div class="form-group">
                       	<input type="submit" class="btn btn-primary btn-sm" value=" Submit ">
                       	<a href="/cms/settings/list" class="btn btn-secondary btn-sm">
                			<i class="fas fa-back ml-2"> Cancel </i>
                		</a>
                    </div>
                            	
                    <input type="hidden" id="id" th:field="*{settingid}">
     
                        	
            	</form>	
  				
  		</div>
  		<footer class="customFooter">&copy;TRC Corp</footer> 
	</body>
</html>			
				
				
