<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">	
	<div class="row">
	
		<div id='hcssmenu'>
				<ul>
					<li><a href="/"><span>Home</span></a></li>
	    			<li class='active has-sub'><a href='#'><span>Lists</span></a>
      					<ul>
         					<li><a href="/comResources/cms/counties/list"><span>Counties</span></a>
            				<li><a href="/comResources/cms/providers/list"><span>Providers</span></a>
            				<li><a href="/comResources/cms/resources/list"><span>Resources</span></a>		
         					
      					</ul>
   					</li>
   					<li><a href="/comResources/cms/settings/list"><span>Settings</span></a></li>
   					<li><a href="/comResources/cms/aws/list"><span>AWS Storage</span></a></li>
				</ul>
			</div>
		
	</div>
</html>

  	
  	
  	
 		
  
  